/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none !important;
  color: inherit !important;
}
p {
  margin: 0 !important;
}

.table-container::-webkit-scrollbar,
.passportExp::-webkit-scrollbar,
.visaExp::-webkit-scrollbar {
  width: 10px;
}
.table-container::-webkit-scrollbar-track,
.passportExp::-webkit-scrollbar-track,
.visaExp::-webkit-scrollbar-track {
  background: #ebebeb;
}
.table-container::-webkit-scrollbar-thumb,
.passportExp::-webkit-scrollbar-thumb,
.visaExp::-webkit-scrollbar-thumb {
  background: var(--darkest);
  border-radius: 25px;
}

:root {
  --main: #e3f1d6;
  --secondary: #9dc08b;
  --tertiary: #609966;
  --darkest: #40513b;
  --bg: #f6fcf1;
  --orange: #ec8f5e;

  --red-color: #df2e38;
  --yellow-color: rgb(254, 201, 88);
  --text-color: #555;
}

.navigation {
  width: 250px;
  height: 100vh;
  border-right: 2px solid #dedede;
  z-index: 2;
}
.content {
  width: calc(100% - 250px);
  height: 100vh;
  z-index: 1;
  background-color: #f7f7f7;
}
nav {
  padding: 64px 16px 16px 16px;
}
nav li {
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
}
nav li:hover {
  background-color: var(--main);
}
nav li.active {
  background-color: var(--secondary);
}
.content .topbar {
  height: 55px;
}
.content .main {
  height: 100vh;
}
.main .left {
  width: calc(100% - 480px);
  padding: 30px;
}
.ctaCard {
  height: 400px;
}
.ctaCard .contain {
  background-color: var(--main);
}
.ctaCard .contain .left h1 {
  font-size: 48px;
}
.left .bottom {
  height: calc(100% - 500px);
}
.btn-checkAvail {
  background-color: var(--tertiary);
  cursor: pointer;
  border-radius: 30px;
  border: none;
  color: #fff;
  padding: 20px 40px;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
}
.btn-checkAvail:hover {
  background-color: var(--darkest);
}
.left .bottom table {
  white-space: nowrap;
}
.left .bottom table th {
  font-weight: medium;
  text-transform: uppercase;
  font-size: 12px;
  /* text-transform: uppercase; */
}
.table-container {
  overflow: auto;
  height: calc(100% - 80px);
}
table tbody tr:hover {
  background-color: #ededed;
}
.waveImg {
  transform: rotate(-30deg);
  pointer-events: none;
}
.cta .rightt {
  width: 40%;
}
.right {
  background-color: var(--main);
  padding: 30px;
  width: 480px;
}
.alert1 {
  height: 50%;
  background-color: #fff;
}
.alert2 {
  height: 50%;
  background-color: #fff;
}
.expire.short {
  color: var(--red-color);
  font-weight: 700;
}
.passportExp,
.visaExp {
  height: calc(100% - 100px);
}
.passportExp thead th,
.visaExp thead th {
  font-weight: medium;
  text-transform: uppercase;
  font-size: 12px;
}
.passportExp table tbody tr,
.visaExp table tbody tr {
  cursor: pointer;
}
.alert2,
.alert1 {
  height: 100%;
  width: 100%;
}
.alert2 .imgCont,
.alert1 .imgCont {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: -35px;
  width: 50%;
}
.alert2 .imgCont img,
.alert1 .imgCont img {
  opacity: 0.015;
}

.cta {
  padding: 40px;
}
.picTravel {
  position: absolute;
  bottom: -100px;
  right: -50px;
  pointer-events: none;
}
.picWave {
  position: absolute;
  bottom: -150px;
  left: 0;
  pointer-events: none;
}
@media (max-width: 767px) {
  .pageTitle {
    padding: 10px !important;
    align-items: center;
  }
  .pageTitle h1 {
    font-size: 24px;
  }
}
@media (max-width: 1350px) {
  .ctaCard .contain .left h1 {
    font-size: 32px;
  }

  .picTravel {
    bottom: -150px;
    right: -130px;
  }
  .picWave {
    bottom: -100px;
    left: -50px;
  }
}
@media (max-width: 1570px) {
  .ctaCard .contain .left h1 {
    font-size: 38px;
  }
  .cta {
    padding: 30px;
  }
  .right {
    padding: 20px;
  }
}

/* SMALLSCREEN NAVIGATION */
#closeNav,
#menu {
  height: 35px;
  width: 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  opacity: 0.5;
}
#closeNav:hover,
#menu:hover {
  opacity: 1;
}
#closeNav i {
  transition: transform 0.35s ease;
}
#closeNav:hover i {
  transform: rotate(90deg);
  color: var(--red-color);
}
#menu i {
  transition: color 0.35s ease;
}
#menu:hover i {
  color: var(--tertiary);
}

#menu,
#closeNav {
  display: none;
}
@media (max-width: 768px) {
  .content {
    height: 100%;
    width: 100vw;
  }
  .navigation {
    position: absolute;
    left: -100%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    transition: all 0.25s ease-out;
  }
  .navigation.open {
    left: 0;
    opacity: 1;
  }
  #menu,
  #closeNav {
    display: block;
  }
}
