/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none !important;
  color: inherit !important;
}
p {
  margin: 0 !important;
}

.table-container::-webkit-scrollbar {
  width: 10px;
}
.table-container::-webkit-scrollbar-track {
  background: #ebebeb;
}
.table-container::-webkit-scrollbar-thumb {
  background: var(--darkest);
  border-radius: 25px;
}

:root {
  --main: #e3f1d6;
  --secondary: #9dc08b;
  --tertiary: #609966;
  --darkest: #40513b;
  --bg: #f6fcf1;
  --orange: #ec8f5e;

  --red-color: #df2e38;
  --yellow-color: #f4c948;
  --warning: #fcfad8;
  --text-color: #555;
}

.navigation {
  width: 250px;
  height: 100vh;
  background-color: var(--bg);
  z-index: 2;
}
.content {
  width: calc(100% - 250px);
  height: 100vh;
  z-index: 1;
}
nav {
  padding: 64px 16px 16px 16px;
}
nav li {
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
}
nav li:hover {
  background-color: var(--main);
}
nav li.active {
  background-color: var(--secondary);
}
.content .topbar {
  height: 55px;
}
.content .main {
  height: calc(100vh - 55px);
}
.back a span,
.back a i {
  color: #555 !important;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}
.back a:hover span,
.back a:hover i {
  color: var(--tertiary) !important;
}
.main .left {
  width: 500px;
  height: 100%;
  font-size: 14px !important;
}
.btn-dispatch {
  background-color: var(--tertiary) !important;
  color: #fff !important;
  transition: background-color 0.25s ease-in-out;
}
.btn-dispatch:hover {
  background-color: var(--darkest) !important;
}
.btn-clear {
  border: 1px solid var(--text-color) !important;
  font-weight: 500;
}
.btn-clear:hover {
  background-color: #a7a7a7 !important;
  border-color: #a7a7a7 !important;
}

.right {
  width: calc(100% - 500px);
  border: 2px solid #c7c7c7;
}
.cards .passport {
  height: 250px;
  width: 400px;
  background-image: url("../images/gradient.svg");
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
}
.passport .passportDetail label,
.visa .visaDetail label {
  position: absolute;
  top: -0px;
  left: 0;
  font-size: 10px;
  font-weight: 500;
}
.passport .passportDetail span,
.visa .visaDetail span {
  font-weight: 500;
}
.passportDetail,
.visaDetail {
  padding: 10px 0 0 0;
}
.passport .imgContainer,
.visa .imgContainer {
  width: 120px;
  height: 130px;
}
.passport .imgContainer img,
.visa .imgContainer img {
  width: 100%;
  height: auto;
}
.cards .visa {
  height: 250px;
  width: 400px;
  background-image: url("../images/gradientvisa.svg");
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
}
.status {
  bottom: 10%;
  left: 0;
  text-align: center;
}
.status span {
  font-size: 100px;
  font-weight: 700;
  opacity: 0.2;
  line-height: 50px;
  color: #53b85d;
}
.status span.invalid {
  color: var(--red-color);
}
.dispatch-hist table thead th {
  text-transform: uppercase;
  font-size: 12px !important;
  text-wrap: nowrap;
}
.dispatch-hist table tbody td {
  font-size: 14px;
  vertical-align: middle;
}
.dispatch-hist table tbody tr:hover {
  background-color: #e6e6e6;
}
.btn-edit,
.btn-delete {
  border: none;
  background-color: transparent;
}
.btn-edit:hover {
  color: var(--yellow-color) !important;
}
.btn-delete:hover {
  color: var(--red-color) !important;
}
.totalThisYear {
  border-radius: 8px;
  background-color: #f5d8c9;
}
.totalThisYear .label {
  font-size: 14px;

  text-transform: uppercase;
}
.totalThisYear .count {
  font-size: 36px;
  font-weight: 600;
}
.dispatch-hist .top .title {
  font-size: 20px;
  font-weight: 500;
}
.prog-cont small {
  color: var(--red-color);
}
