@tailwind base;
@tailwind components;
@tailwind utilities;
/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  box-sizing: border-box;
  color: #333;
  font-weight: 500;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none !important;
  color: inherit !important;
}
p {
  margin: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ebebeb;
}
::-webkit-scrollbar-thumb {
  background: var(--darkest);
  border-radius: 25px;
}

:root {
  --main: #dcfce7;
  --secondary: #4ade80;
  --tertiary: #22c55e;
  --darkest: #15803d;
  --bg: #f6fcf1;
  --orange: #ec8f5e;
  --gray: #dedede;
  --gray-100: #f2f2f2;
  --red-color: #df2e38;
  --yellow-color: rgb(254, 201, 88);
  --text-color: #555;
  --tableheader: #e5e7eb;
}

button {
  font-weight: 500;
}
.navigation {
  width: 250px;
  height: 100vh;
  border-right: 2px solid var(--gray);
  z-index: 2;
}
.content {
  width: calc(100% - 250px);
  height: 100vh;
  z-index: 1;
}
nav {
  padding: 32px 16px 20px 16px;
}
nav li {
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 12px !important;
  color: #626262;
}
nav li:hover {
  background-color: var(--main);
}
nav li.active {
  background-color: var(--secondary);
}
.pageTitle h1 {
  font-size: 24px;
  font-weight: 600;
}
.content {
  background-color: var(--gray-100);
}
.input {
  padding: 0.375rem 0.75rem;
  display: block;
  width: 100%;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-clip: padding-box;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}
.input:focus,
.select:focus {
  border: 1px solid var(--darkest);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.25rem rgba(74, 222, 128, 0.25);
}
.select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
}

@media (max-width: 886px) {
  .pageTitle {
    padding: 0 !important;
    align-items: center;
  }
  .pageTitle h1 {
    font-size: 24px !important;
  }
  .expirations {
    flex-direction: column;
    height: 750px !important;
  }
  .content {
    height: 100%;
  }
  .content .main {
    flex-direction: column;
    height: 100%;
  }
}

/* SMALLSCREEN NAVIGATION */
#closeNav,
#menu {
  height: 35px;
  width: 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  opacity: 0.5;
}
#closeNav:hover,
#menu:hover {
  opacity: 1;
}
#closeNav i {
  transition: transform 0.35s ease;
}
#closeNav:hover i {
  transform: rotate(90deg);
  color: var(--red-color);
}
#menu i {
  transition: color 0.35s ease;
}
#menu:hover i {
  color: var(--tertiary);
}

#menu,
#closeNav {
  display: none;
}
@media (max-width: 887px) {
  .content {
    height: 100%;
    width: 100vw;
  }
  .navigation {
    position: absolute;
    left: -100%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    transition: all 0.25s ease-out;
  }
  .navigation.open {
    left: 0;
    opacity: 1;
  }
  #menu,
  #closeNav {
    display: block;
  }
}
